body {
    background: #7E98A9;
    font: 14px sans-serif;
    color: black;
    display: flex;
         min-height: 100vh;
         flex-direction: column;
}

h1 {
	font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Quattrocento', serif;
    padding-left: 3vh;
}

a {
    color: #6351CE;
}

#intro {
    padding: 3vh;
}

#diagrams {
    padding: 3vh;
}

.map {
    width: 100%;
    height: auto;
    fill: white;
    background: #E3E6F5;
}

.option-select {
  margin-left: 3vh;
  fill: #64b646;
  width: auto;
  background: white;
}

path {
 	fill: #a5a5a5;
 	stroke: #ffdbdb;
 	stroke-width: 0.08736px;
}

path:hover {
	fill-opacity: .7;
}

circle {
    fill: #689775;
 	fill-opacity: 0.5;
 	stroke: white;
}

circle.active {
    fill: #689775;
}

.legend {
	position: absolute;
	left: 1270px;
	top: 650px;
    fill: white;
}

main {
    flex: 1 0 auto;
  }

.tooltip {
    position: absolute;
    left: 1270px;
    top: 250px;
 	text-align: center;
 	width: 50px;
 	height: 15px;
 	padding: 2px;
 	font: 12px sans-serif;
 	background: #8FB2E9;
 	border: 0px;
 	border-radius: 8px;
 	pointer-events: none;
}


#tooltip {
    color: white;
    opacity: .9;
    background: #333;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

path.group {
    fill-opacity: .8;
}

path.chord {
    stroke: black;
    stroke-width: .25px;
}

#circle:hover path.fade {
    display: none;
}